.main {
    width: 510px;
    padding: 20px;
    padding-left: 50px;
    margin-left: 70px;
    margin-top: 50px;
    background-color: teal;
    box-shadow: 15px 15px paleturquoise;
}

.second {
    position: absolute;
    top: 70px;
    left: 540px;
}

p {
    font-family: Courier New;
    font-size: 20px;
    font-weight: normal;
    color: white;
}

h1 {
    font-family: Courier New;
    font-size: 50px;
    font-weight: normal;
    color: white;
}

footer {
    font-family: Courier New;
    font-size: 10px;
    font-weight: normal;
    color: white;
}

a:hover {
    background-color: violet;
}

a:link {
    color: white;
}